.cart_Item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4A025 ;
    /* padding: 40px; */
    border-radius: 10px;
    font-size: 16px;
    width: 310px;
    height: 190px;
    transition: 120ms;
    /* font-family: Pacifico; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cards{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor:default;
}

.cart_Item:hover h2{
    transform: scale(1.1);
}
.cart_Item:hover p{
    transform: scale(1.1);
}
