.product_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.temp{
    width: 400px;
    margin-left: 200px;
    margin-right: 100px;
    box-shadow: 0px 22  0px 40px;
    border-radius: 20px;
}
.tital{
    font-weight: 600;
    font-size: 20px;
}
.product_right{
    background-color: orange;
    width: 100%;
    padding: 100px;
    border-radius: 20px 0px 0px 20px;
}
.product01{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-bottom: 20px;
}
.product1_left{
    background-color: orange;
    width: 100%;
    padding: 100px;
    border-radius: 0px 20px 20px 0px;

}