.nav-list {
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-around;
    gap: 90px;
  }
  
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .contact {
    margin-right: 20px;
  }
  
  /* .menu-taggle {
    display: none;
    background: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
   */
   .menu{
    display: none;
   }
  @media (max-width: 800px) {
    .nav-links {
      display: none;
    }
  
    .nav-links.open {
      display: block;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: black;
      width: 100%;
      padding: 10px 0;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .menu {
      display: block;
      color: white;
      background: transparent;
      border: none;
    }
  }
  